In [36]:
import pandas as pd

df = pd.read_csv("./files/devsup_analysis.csv", sep=";", encoding='latin-1')
df.describe()

            Effort
count  3242.000000
mean      3.137878
std       8.235379
min       1.000000
25%       1.000000
50%       2.000000
75%       3.000000
max     274.000000