In [1]:
import pandas as pd

In [3]:
dev_df = pd.read_csv("./RITM_ExportData.csv", encoding="LATIN-1")

In [32]:
# Define columns name
dev_df.columns = [
    'sys_created_on',
    'requested_for',
    'opened_by',
    'description',
    'var_dev_description',
    'var_dev_type',
    'var_impacted_service_offering',
    'var_impacted_area',
    'var_effort'
]

# Defining columns type
dev_df["var_effort"].astype("float64")

dev_df.head(5)

,sys_created_on,requested_for,opened_by,description,var_dev_description,var_dev_type,var_impacted_service_offering,var_impacted_area,var_effort
0,11/10/2022 15:15:31,Marcos Oliveira,Marcos Oliveira,123,123,Portal (Employees / Internal Users),NaN,OTC - Order to cash,123.0
1,11/10/2022 15:11:00,Jonathan Savio Bardt,Jonathan Savio Bardt,123,123,Service Catalog,NaN,NaN,NaN
2,10/10/2022 16:50:27,Felipe Gomes Pires,Felipe Gomes Pires,teste,teste,Service Catalog,"PTP_060 | Register Document for Payment, PTP_2...",NaN,NaN
3,10/10/2022 11:27:11,Jonathan Savio Bardt,Jonathan Savio Bardt,123,123,Portal (Employees / Internal Users),NaN,NaN,NaN
4,10/10/2022 11:22:56,Matheus Prado,Matheus Prado,123,123,Service Catalog,NaN,NaN,NaN

In [56]:
def _alignOnPrint(name):
    name = str(name)
    name + " " * (30 - len(name))
    return name

for name, notNullCount, nullCount in zip(dev_df.columns, dev_df.notnull().sum(), dev_df.isnull().sum()):
    print(name + " " * (30 - len(name)), " | ", notNullCount, " | ", nullCount , " = Result: ", notNullCount + nullCount)

sys_created_on                  |  3560  |  0  = Result:  3560
requested_for                   |  3560  |  0  = Result:  3560
opened_by                       |  3548  |  12  = Result:  3560
description                     |  3559  |  1  = Result:  3560
var_dev_description             |  3560  |  0  = Result:  3560
var_dev_type                    |  3560  |  0  = Result:  3560
var_impacted_service_offering   |  1952  |  1608  = Result:  3560
var_impacted_area               |  3512  |  48  = Result:  3560
var_effort                      |  3510  |  50  = Result:  3560